.mainHeaderStyleOnline {
	background-color: #2319ff;
	font-family: B Titr, verdana, arial, helvetica, sans-serif;
	font-size: 14px;
	color: white;
	line-height: 16px;
	padding: 4px;
	border: 0px dotted black;
}

.mainHeaderStyleLegal {
	color: black;
	background-color: white;
	font-family: times new roman, times, serif;
	font-size: 12px;
	text-align: justify;
	padding-left: 4px;
	border-left: 1px solid black;
	padding-right: 4px;
	border-right: 1px solid black;
}

.mainHeaderStyleButton {
	font-family: B Titr, lucida console, bitstream vera sans mono, courier new, monospace;
	font-size: 14px;
	font-weight: bold;
	color: red;
	padding: 8px;
}

.mainHeaderStyleInformal {
	font-family: lucida handwriting, cursive;
	font-size: 14px;
	line-height: 22px;
	color: #2319ff;
	background-color: oldlace;
	padding: 8px;
	border: 2px solid #2319ff;
}
