body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: IRANSans, tahoma, serif;
    color: #060790;
    text-align: center;
    overflow: auto !important;
}

.relativePosition {
    position: relative !important;
}

.paddingRight {
    padding: 10px;
}

.testCss {
    direction: ltr;
}

.checkboxFalse {
    max-width: 100% !important;
}

span {
    display: inline-flex !important;
}

.myparent .headerButton {
    color: black !important;
    background-color: #E0E0E0 !important;
}

.lineFieldRTL,
.lineField,
.lineFieldRTL .headerItemRTL,
.lineFieldRTL .headerItemOver,
.lineFieldRTL .headerItemOverRTL,
.lineField .headerItemRTL,
.lineField .headerItemOver,
.lineField .headerItemOverRTL {
    background-color: #97cefc !important;
    font-weight: normal !important;
    font-size: 13px !important;
}

.acceptRTL, .accept {
    color: #199435 !important;
}

.rejectedRTL, .rejected {
    color: #FF0000 !important;
}

.clickableCellRTL, .clickableCell
{
    color: #0066cc !important;
    text-decoration: underline !important;
    cursor: pointer !important;
}

 .clickableCellRTL:hover, .clickableCell:hover
{
    color: #003580 !important;
}


.inputRTL input{
    direction: ltr !important;
    text-align: left !important;
}

.inputRTLFocused input{
    direction: ltr !important;
    text-align: left !important;
}

.specialColDisabledRTL .specialColDisabled{
    height: 35px !important;
}

.cellDisabledAltColRTL,.cellDisabledDarkAltColRTL,.cellDisabledAltCol,.cellDisabledDarkAltCol{
    padding: 7px !important;
}

.gridSelectionOver{
    left:auto !important;
    right:0 !important;
}





