body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: IRANSans, tahoma, serif;
    color: #060790;
    text-align: center;
    overflow: auto !important;
}

.relativePosition {
    position: relative !important;
}

.paddingRight {
    padding: 10px;
}

.testCss {
    direction: ltr;
}

.checkboxFalse {
    max-width: 100% !important;
}

span {
    display: inline-flex !important;
}

.myparent .headerButton {
    color: black !important;
    background-color: #E0E0E0;
}


