body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: IRANSans, tahoma, serif;
    color: #060790;
    text-align: center;
    overflow: auto !important;
}

.relativePosition {
    position: relative !important;
}

.paddingRight {
    padding: 10px;
}

.testCss {
    direction: ltr;
}

.checkboxFalse {
    max-width: 100% !important;
}

span {
    display: inline-flex !important;
}

.myparent .headerButton {
    color: black !important;
    background-color: #E0E0E0 !important;
}

.lineFieldRTL,
.lineField,
.lineFieldRTL .headerItemRTL,
.lineFieldRTL .headerItemOver,
.lineFieldRTL .headerItemOverRTL,
.lineField .headerItemRTL,
.lineField .headerItemOver,
.lineField .headerItemOverRTL {
    background-color: #97cefc !important;
    font-weight: normal !important;
    font-size: 13px !important;
}

.acceptRTL, .accept {
    color: #199435 !important;
}

.rejectedRTL, .rejected {
    color: #FF0000 !important;
}

.clickableCellRTL, .clickableCell
{
    color: #0066cc !important;
    text-decoration: underline !important;
    cursor: pointer !important;
}

 .clickableCellRTL:hover, .clickableCell:hover
{
    color: #003580 !important;
}
.shortcuts{
    width: 100%;
    height: 100%;
}
.shortcut-box{
    background-color: #f5f6f7;
    border-radius: 10px;
    border: 2px solid #dadbdf;
}

.sh-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.sh-item:hover h2{
    color: #fe9d2a;
}
.sh-item:hover svg path:not([fill="none"]), .sh-item:hover svg circle:not([fill="none"]){
    fill: #fe9d2a;
    pointer-events: none;
}

.sh-item:hover svg circle:not([stroke="none"]){
    stroke: #fe9d2a;
}

.sh-item h2{
    color: #aab5b9;
//margin-top: 23px;
}


.inputRTL input{
    direction: ltr !important;
    text-align: left !important;
}

.inputRTLFocused input{
    direction: ltr !important;
    text-align: left !important;
}

.specialColDisabledRTL .specialColDisabled{
    height: 35px !important;
}

.cellDisabledAltColRTL,.cellDisabledDarkAltColRTL,.cellDisabledAltCol,.cellDisabledDarkAltCol{
    padding: 7px !important;
}

.gridSelectionOver{
    left:auto !important;
    right:0 !important;
}


