spring:
  application:
    name: Training
  profiles:
    active: Development
  datasource:
    hikari:
      connection-test-query: SELECT 1 FROM DUAL
      maximum-pool-size: 60
      connection-timeout: 60000
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.Oracle12cDialect
        hbm2ddl:
          schema_filter_provider: com.nicico.copper.common.hibernate.CustomSchemaFilterProvider
    open-in-view: false
  liquibase:
    database-change-log-table: Z_LIQ_CHANGELOG
    database-change-log-lock-table: Z_LIQ_CHANGELOG_LOCK
    change-log: classpath:db/changelog/liquibase-master.xml
  main:
    allow-bean-definition-overriding: true
  mvc:
    view:
      prefix: /WEB-INF/views/
      suffix: .jsp
  activiti:
    rest-api-enabled: true
    history-level: full
    database-schema-update: true
    db-history-used: true
  redis:
    port: 6379
  servlet:
    multipart:
      max-file-size: 30MB
      max-request-size: 30MB


server:
  port: 8080
  servlet:
    context-path: /training
    session:
      cookie:
        name: App_${spring.application.name}
      timeout: 180m

management:
  endpoint:
    health:
      show-details: always

nicico:
  jpa:
    entity:
      package: com.nicico.training.model
  google:
    mail:
      username:
      password:
  mail:
    domain:
    url:
    username:
    password:
  rest-api:
    url: /var/nicico/${spring.application.name}/
  workflow:
    update:
      mode: false
  training:
    version: '1.30'
  sms:
    magfa:
      username: 'maaden_81794'
      password: 'DplSkqONgQcfymUb'
---

spring:
  profiles: Production
  datasource:
    url: jdbc:oracle:thin:@//oragnrt01.icico.net.ir:1521/pdb_dev01
    username: n_training
    password: n_training
  redis:
    host: apps.icico.net.ir
    password: nicico
  security:
    oauth2:
      client:
        registration:
          oserver:
            client-id: ${spring.application.name}
            client-secret: password
            authorization-grant-type: authorization_code
            redirect-uri: '{baseUrl}/login/oauth2/code/{registrationId}'
            scope: user_info
        provider:
          oserver:
            authorization-uri: http://apps.icico.net.ir/oauth/authorize
            token-uri: http://apps.icico.net.ir/oauth/token
            user-info-uri: http://apps.icico.net.ir/user/info
            user-name-attribute: username
nicico:
  upload:
    dir: /var/nicico/${spring.application.name}/upload
  dirs:
    upload-class: /var/nicico/${spring.application.name}/upload/Tclass
    upload-class-deleted: /var/nicico/${spring.application.name}/upload/Tclass/deleted
    upload-teacher: /var/nicico/${spring.application.name}/upload/Teacher
    upload-teacher-deleted: /var/nicico/${spring.application.name}/upload/Teacher/deleted
    upload-Job: /var/nicico/${spring.application.name}/upload/Job
    upload-Job-deleted: /var/nicico/${spring.application.name}/upload/Job/deleted
    upload-JobGroup: /var/nicico/${spring.application.name}/upload/JobGroup
    upload-JobGroup-deleted: /var/nicico/${spring.application.name}/upload/JobGroup/deleted
    upload-PostGrade: /var/nicico/${spring.application.name}/upload/PostGrade
    upload-PostGrade-deleted: /var/nicico/${spring.application.name}/upload/PostGrade/deleted
    upload-PostGradeGroup: /var/nicico/${spring.application.name}/upload/PostGradeGroup
    upload-PostGradeGroup-deleted: /var/nicico/${spring.application.name}/upload/PostGradeGroup/deleted
    upload-PostGroup: /var/nicico/${spring.application.name}/upload/PostGroup
    upload-PostGroup-deleted: /var/nicico/${spring.application.name}/upload/PostGroup/deleted
    upload-Post: /var/nicico/${spring.application.name}/upload/Post
    upload-Post-deleted: /var/nicico/${spring.application.name}/upload/Post/deleted
    upload-person-img: /var/nicico/${spring.application.name}/upload/person/img
    upload-person-tmp: /var/nicico/${spring.application.name}/upload/person/img/tmp
    upload-bpmn: /var/nicico/${spring.application.name}/upload/bpmn
    upload-bpmn-img: /var/nicico/${spring.application.name}/upload/bpmn/img
    upload-TriningPost: /var/nicico/${spring.application.name}/upload/TriningPost
    upload-TriningPost-deleted: /var/nicico/${spring.application.name}/upload/TriningPost/deleted

---

spring:
  profiles: Development
  datasource:
    url: jdbc:oracle:thin:@//oragnrt01.icico.net.ir:1521/pdb_dev01
    username: testtraining
    password: testtraining
  redis:
    host: devapp01.icico.net.ir
    password: nicico
  security:
    oauth2:
      client:
        registration:
          oserver:
            client-id: ${spring.application.name}
            client-secret: password
            authorization-grant-type: authorization_code
            redirect-uri: '{baseUrl}/login/oauth2/code/{registrationId}'
            scope: user_info
        provider:
          oserver:
            authorization-uri: http://devapp01.icico.net.ir/oauth/authorize
            token-uri: http://devapp01.icico.net.ir/oauth/token
            user-info-uri: http://devapp01.icico.net.ir/user/info
            user-name-attribute: username
nicico:
  security:
    sys-password: password
  upload:
    dir: /var/nicico/${spring.application.name}/upload
  dirs:
    upload-class: /var/nicico/${spring.application.name}/upload/Tclass
    upload-class-deleted: /var/nicico/${spring.application.name}/upload/Tclass/deleted
    upload-teacher: /var/nicico/${spring.application.name}/upload/Teacher
    upload-teacher-deleted: /var/nicico/${spring.application.name}/upload/Teacher/deleted
    upload-Job: /var/nicico/${spring.application.name}/upload/Job
    upload-Job-deleted: /var/nicico/${spring.application.name}/upload/Job/deleted
    upload-JobGroup: /var/nicico/${spring.application.name}/upload/JobGroup
    upload-JobGroup-deleted: /var/nicico/${spring.application.name}/upload/JobGroup/deleted
    upload-PostGrade: /var/nicico/${spring.application.name}/upload/PostGrade
    upload-PostGrade-deleted: /var/nicico/${spring.application.name}/upload/PostGrade/deleted
    upload-PostGradeGroup: /var/nicico/${spring.application.name}/upload/PostGradeGroup
    upload-PostGradeGroup-deleted: /var/nicico/${spring.application.name}/upload/PostGradeGroup/deleted
    upload-PostGroup: /var/nicico/${spring.application.name}/upload/PostGroup
    upload-PostGroup-deleted: /var/nicico/${spring.application.name}/upload/PostGroup/deleted
    upload-Post: /var/nicico/${spring.application.name}/upload/Post
    upload-Post-deleted: /var/nicico/${spring.application.name}/upload/Post/deleted
    upload-person-img: /var/nicico/${spring.application.name}/upload/person/img
    upload-person-tmp: /var/nicico/${spring.application.name}/upload/person/img/tmp
    upload-bpmn: /var/nicico/${spring.application.name}/upload/bpmn
    upload-bpmn-img: /var/nicico/${spring.application.name}/upload/bpmn/img
    upload-TriningPost: /var/nicico/${spring.application.name}/upload/TrainingPost
    upload-TriningPost-deleted: /var/nicico/${spring.application.name}/upload/TrainingPost/deleted

---

spring:
  profiles: Local
  datasource:
    url: jdbc:oracle:thin:@//oragnrt01.icico.net.ir:1521/pdb_dev01
    username: devtraining
    password: devtraining
  redis:
    host: devapp01.icico.net.ir
    password: nicico
  jpa:
    show-sql: true
  security:
    oauth2:
      client:
        registration:
          oserver:
            client-id: ${spring.application.name}
            client-secret: password
            authorization-grant-type: authorization_code
            redirect-uri: '{baseUrl}/login/oauth2/code/{registrationId}'
            scope: user_info
        provider:
          oserver:
            authorization-uri: http://devapp01.icico.net.ir/oauth/authorize
            token-uri: http://devapp01.icico.net.ir/oauth/token
            user-info-uri: http://devapp01.icico.net.ir/user/info
            user-name-attribute: username
nicico:
  security:
    sys-password: password
  upload:
    dir: c:/nicico/${spring.application.name}/upload
  dirs:
    upload-class: c:/nicico/${spring.application.name}/upload/Tclass
    upload-class-deleted: c:/nicico/${spring.application.name}/upload/Tclass/deleted
    upload-teacher: c:/nicico/${spring.application.name}/upload/Teacher
    upload-teacher-deleted: c:/nicico/${spring.application.name}/upload/Teacher/deleted
    upload-Job: c:/nicico/${spring.application.name}/upload/Job
    upload-Job-deleted: c:/nicico/${spring.application.name}/upload/Job/deleted
    upload-JobGroup: c:/nicico/${spring.application.name}/upload/JobGroup
    upload-JobGroup-deleted: c:/nicico/${spring.application.name}/upload/JobGroup/deleted
    upload-PostGrade: c:/nicico/${spring.application.name}/upload/PostGrade
    upload-PostGrade-deleted: c:/nicico/${spring.application.name}/upload/PostGrade/deleted
    upload-PostGradeGroup: c:/nicico/${spring.application.name}/upload/PostGradeGroup
    upload-PostGradeGroup-deleted: c:/nicico/${spring.application.name}/upload/PostGradeGroup/deleted
    upload-PostGroup: c:/nicico/${spring.application.name}/upload/PostGroup
    upload-PostGroup-deleted: c:/nicico/${spring.application.name}/upload/PostGroup/deleted
    upload-Post: c:/nicico/${spring.application.name}/upload/Post
    upload-Post-deleted: c:/nicico/${spring.application.name}/upload/Post/deleted
    upload-person-img: c:/nicico/${spring.application.name}/upload/person/img
    upload-person-tmp: c:/nicico/${spring.application.name}/upload/person/img/tmp
    upload-bpmn: c:/nicico/${spring.application.name}/upload/bpmn
    upload-bpmn-img: c:/nicico/${spring.application.name}/upload/bpmn/img
    upload-TrainingPost: c:/nicico/${spring.application.name}/upload/TrainingPost
    upload-TrainingPost-deleted: c:/nicico/${spring.application.name}/upload/TrainingPost/deleted
